.skills-container {
  display: flex;
  flex-direction: column;
  padding-top: 1.5rem;
  padding: 2rem;
  border-radius: 10px;
  background-color: rgba(75, 74, 74, 0.616);
  backdrop-filter: blur(5px);
}

.skills-inner-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.skills-title {
  color: #dad9d9;
  font-size: 0.75rem;
  font-weight: bold;
  background: linear-gradient(to bottom left, var(--tw-gradient-stops));
}

.skills-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}